
{% extends 'navbar.html.twig' %}
{% form_theme Formulaire 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link href="{{asset('/css/style.css')}}" rel="stylesheet" media="all">  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 
{% endblock %}
{% block contenuPrincipal %}
    {{ parent() }}
    <br/>
<br/>
{{ message}}
<br/>
<body class=" bg-light">
    <div class="container">
        <div class="row ">
            <div class="w-50 p-5 m-5 bg-light ">
            <h1>Modifiez votre profil</h1>
                {{ form_start(Formulaire) }}
                    
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(Formulaire) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_row(Formulaire.firstname) }}
                    </div><div class="form-group">
                        {{ form_row(Formulaire.lastname) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(Formulaire.password) }}
                    </div>
                    <div class="form-group" >
                        {{ form_row(Formulaire.phone) }}
                    </div>
                    <div class="form-group">
                    {{ form_row(Formulaire.photo) }}
                    
                    </div>

                     <div class="form-group diactivate" >
                    {{ form_row(Formulaire.mail) }}
                    
                    </div>
                        {{form_widget(Formulaire.save, { 'value': '' }) }}
                       

                    
               {{ form_end(Formulaire) }}


            </div>
              <div class="col-2 "><img class="jaf" src="{{asset('/uploads/') ~ user.photo  }}"></div>
        </div>
    </div>
  </body>
{% endblock %} 
