{% extends 'navbar.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link href="{{asset('/css/theme.css')}}" rel="stylesheet" media="all">    
{% endblock %}
{% block contenuPrincipal %}
    {{ parent() }}
<br/>
<br/>
     

    <div class="row">
        <div class="col-6">hhhhhh</div>
         <div class="col-6 w-50 p-5 m-5 bg-light ">
                {{ form_start(Formulaire) }}
                    
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(Formulaire) }}
                    </div>
                    
                    </div><div class="form-group">
                        {{ form_row(Formulaire.mail) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(Formulaire.password) }}
                    </div>
                   
                        {{form_widget(Formulaire.save, { 'value': '' }) }}
                       

                    
               {{ form_end(Formulaire) }}


            </div>
    </div>


<br/>


{% endblock %}    
